<div style="margin: auto; width: 50%;" ng-show="error" class = "alert alert-danger">Error while getting data. Please set access keys</div>
<button 
  style="width: 130px; margin-left: 5px;" type="button" class="btn btn-success" data-toggle="modal" data-target="#myModal">
  Set Access Keys
 </button>
 
<button style="margin-left: 10px;width: 130px;" ng-click="refresh()" type="button" class="btn btn-default">
Refresh
 <span ng-show="refreshing">
    <i class="fa fa-spinner fa-spin"></i>
  </span>
</button>

  <label class="active" style="font-weight: normal; margin-left: 10px; display: inline;">
        <input type="checkbox" checked>&nbsp&nbspAuto refresh after every 5 minutes
      </label>

<!-- Modal -->
<div id="myModal" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <form class="form-horizontal" ng-submit="onClickLoginBtn()" role="form">  
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Set Access Keys</h4>
        </div>
        <div class="modal-body">
          <!-- access key id -->
          <div class="form-group">
            <label class="control-label col-sm-4" for="type">Access Key Id</label>
            <div class="col-sm-8">
              <input
                id="accesskey"
                type="text"
                class="form-control"
                name="accesskey"
                ng-model="accessKeysForm.accesskey">
            </div>
          </div>  
          
           <!-- secret access key -->
          <div class="form-group">
            <label class="control-label col-sm-4" for="type">Secret Access Key</label>
            <div class="col-sm-8">
              <input
                id="secretkey"
                type="text"
                class="form-control"
                name="secretkey"
                ng-model="accessKeysForm.secretkey">
            </div>
          </div>  
          
        </div>
        <div class="modal-footer">
          <button 
            id="save"
          type="submit"
          class="btn btn-success"
          ng-click="onClickSaveAccessKeysBtn()"
          data-dismiss="modal"
          style="width: 80px !important;">
          Save
          </button>
        </div>
      </div>
      </form>
  </div>
</div>
<p>
<table id="tickets" class="table table-striped">      
  <tr>
     <th>Created At</th>
     <th>Region</th>
     <th>Stack Name</th>
     <th>Description</th>
     <th>MyBB Url</th>
     <th style="text-align: centerx; width: 120px;">Healthy Web Servers</th>     
     <th style="text-align: centerx; width: 150px; word-wrap:break-word;">Avg CPU Usage for last 30 minutes</th>
     <th style="text-align: centerx; width: 170px; word-wrap:break-word;">Avg Network Data In/Out for last 1 hour</th>     
     <th>Status</th>
  </tr>  
  <tr ng-repeat="stack in stacks track by $index">  
    <td>{{stack.creation_time | date:'dd-MMM-yyyy H:mm'}}</td>
    <td>{{stack.region}}</td>
    <td>{{stack.name}}</td>
    <td>{{stack.description}}</td>
    <td><a href={{stack.app_url}}>Open</a></td>
    <td>{{stack.healthy_instances}}</td>
    <td>{{stack.cpu_usage}}</td>
    <td>{{stack.data_usage}}</td>
    <td>{{stack.stack_status}}</td>
  </tr>
</table>  